.question-loader-container{
    background: white;
    height: 700px;
    border-radius: 10px;
    padding: 16px;
    .question-loader-footer{
        display: flex;
        justify-content: center;
    }  
}